.toolbar {
  background: #303030;
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  span {
    color: white;
  }
}
.my-icon {
  margin: 0 7px;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
  &.active {
    opacity: 0.5;
  }
  &.active:hover {
    opacity: 1;
  }
}
.page-num {
  width: 50px;
  border: 0;
  margin-right: 2px;
  text-align: center;
}
.searchbox {
  width: 0;
  opacity: 0;
  transition: all 0.3s ease-out;
  border: 0px;
  padding: 0 3px;
  &:focus,
  &:active {
    outline: 0;
    box-shadow: none;
  }
}
.searchbox:focus {
  opacity: 1;
  width: 200px;
}
.pdf-body {
  margin-top: 46px;
}
input {
  &:focus,
  &:active {
    outline: 0;
    box-shadow: none;
  }
}
.outline {
  position: fixed;
  left: 0;
  top: 0;
  padding: 60px 5px 5px;
  height: 100vh;
  width: 250px;
  z-index: 9000;
  box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.75);
  background: white;
  ul {
    padding-left: 25px;
  }
}
